.home-container {
  background: #eceff3;
  height: 100%;

  .home-container-body {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 40px;

    .home-left-container {
      margin-top: 10px;
      margin-right: 20px;

      .main-title {
        color: #000;
        font-size: 26px;
        font-weight: bold;
        line-height: 60px;
      }

      .spinner-space-top {
        margin-top: 30px;
        height: 100vh;
      }
    }

    .spinner-space-top-statistics {
      margin-top: 80px;
      height: 100vh;
    }

    .chart-container {
      margin: 100px 0px 10px 0;
      position: fixed;
      right: 30px;
    }
  }
}
